[submodule "include/Armorial/Libs/nameof"]
	path = include/Armorial/Libs/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "include/Armorial/Libs/magic_enum"]
	path = include/Armorial/Libs/magic_enum
	url = https://github.com/Neargye/magic_enum.git
